@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  height: 688px;
  width: 1136px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner-description {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  margin: 0;
  max-height: 397px;
}

.header-color {
  height: 28px;
  background-color: #FFDC40;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header-text {
  margin-top: 10px;
}

.conteiner-arrou {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 29px;
}

.img-arrou {
  width: 25px;
  height: 15px;
  padding-right: 29px;
}

.about {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}

.conteiner-list {
  margin-top: 26px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  margin-right: 21px;
  margin-left: 27px;
  overflow: scroll;
  line-height: 40px;
  width: 286px;
  max-height: 200px;
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 0;
}

.input-wrapper {
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  border: none;
}

.button {
  display: flex;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  background: #833AE0;
  border-radius: 71px;
  margin-top: 18px;
  margin-bottom: 19px;
}

.cirkle {
  background: #9953F1;
  border-radius: 71px;
  width: 42px;
  height: 42px;
  display: flex;
}

.cirkle-cross {
  width: 13px;
  height: 15px;
  position: relative;
  left: 15px;
  top: 13px;
}

.btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  margin-left: 4px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: #833AE0;
  outline: none;
  border: none;
}

